{
  "endOfLine": "auto",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": false
}
