/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.history
package.zip
/public/*.js
/public/img
/public/fonts
/public/*.ico
/public/index.html
/public/manifest.json
/public/dist
/public/static
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.bak
composer.lock
